@use '../app/abstracts' as *;

// FORM RESET
.form {
	&__field {
		--form-field-width: 46ch;

		border: none;
		border-radius: 2rem;
		padding: 0;

		font-family: inherit;
		color: inherit;

		// fallback
		font-size: 18px;
		// Capitalized to prevent Sass thinking it's the Sass max()
		font-size: Max(18px, 1.125rem);

		max-width: 100%;
		width: var(--form-field-width);
	}
}
// END FORM RESET

// STYLES FOR CATWIKI
.form {
	&__field {
		width: 24rem;
		height: 4.25rem;

		padding-left: var(--spacer__28);

		&::placeholder {
			opacity: 1;
		}
	}
}

@include respond-to('medium--s') {
	.form {
		&__field {
			width: 20rem;
		}
	}
}

@include respond-to('small--l') {
	.form {
		&__field {
			width: 100%;
		}
	}
}
