@use '../app/abstracts' as *;

.info {
	margin-bottom: var(--spacer__72);

	&__info-container {
		display: flex;
	}

	&__image {
		--size: 24rem;

		position: relative;
		display: flex; // Remove white space below image

		width: var(--size);
		height: fit-content;

		margin-left: var(--spacer__56);

		& img {
			width: 100%;
			aspect-ratio: 1;
			object-fit: cover;

			border-radius: var(--rounder-corners--img);
		}

		@include ct_bar-left-image;
	}

	&__details {
		flex: 0 1 42rem;
		margin: 0 var(--spacer__104) 0 var(--spacer__104);
	}

	&__title,
	&__description,
	&__group {
		margin-bottom: var(--spacer__24);
	}

	&__group {
		display: flex;
		max-width: 33rem;
	}

	&__group-title {
		font-family: var(--font__bold);
		margin-right: var(--spacer__8);
	}
}

.info {
	&__attr-system {
		margin-left: auto;

		&--item {
			display: inline-block;
			width: 56px;
			height: 12px;

			background: var(--color__element-4);
			border-radius: 8px;

			&:not(:last-child) {
				margin-right: var(--spacer__8);
			}
		}

		&--value {
			&-1 *:nth-child(-n + 1),
			&-2 *:nth-child(-n + 2),
			&-3 *:nth-child(-n + 3),
			&-4 *:nth-child(-n + 4),
			&-5 *:nth-child(-n + 5) {
				background: var(--color__element-3);
			}
		}
	}
}

@include respond-to('medium--l') {
	.info {
		&__image {
			margin-left: var(--spacer__44);
		}

		&__details {
			margin: 0 var(--spacer__44) 0 var(--spacer__64);
			min-width: 48ch;
		}
	}
}

@include respond-to('medium--m') {
	.info {
		&__info-container {
			display: block;
		}

		&__image {
			margin: 0 auto var(--spacer__40);
		}

		&__details {
			margin: 0 auto;
			max-width: 65ch;
			text-align: center;
		}

		&__group {
			display: block;
			max-width: 100%;
		}
	}
}

@include respond-to('medium--xs') {
	.info {
		&__details {
			min-width: 100%;
		}
	}
}

@include respond-to('medium--xs') {
	.info {
		&__image {
			width: 100%;
		}
	}
}
