.breeds-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: var(--spacer__44);

	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: var(--rounder-corners--img);

		&-container {
			display: flex;
			aspect-ratio: 1 / 1;

			margin-bottom: var(--spacer__12);
		}
	}

	&__name {
		font-family: var(--font__semibold);
	}
}
