.breeds-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	&__item {
		width: 14rem;

		&:not(:nth-last-child(-n + 4)) {
			margin-bottom: 2rem;
		}
	}

	&__image {
		max-width: 14rem;
		width: 14rem;
		height: 14rem;
		object-fit: cover;

		border-radius: var(--rounder-corners--img);

		&-container {
			display: flex;
			margin-bottom: var(--spacer__16);
		}
	}

	&__name {
		font-family: var(--font__semibold);
	}
}
