@use '../app/abstracts' as *;

.breeds-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: var(--spacer__44);

	& > :first-child {
		.breeds-grid__image-show-bar {
			@include ct_bar-left-image;
			z-index: 0;
		}
	}

	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: var(--rounder-corners--img);

		z-index: 1;

		&-container {
			display: flex;
			aspect-ratio: 1 / 1;

			position: relative;
			margin-bottom: var(--spacer__12);
		}
	}

	&__name {
		font-family: var(--font__semibold);
	}
}
