@use '../app/abstracts';

.breeds {
	background-color: var(--color__bg--secd);
	border-radius: 0 0 var(--rounded-corners) var(--rounded-corners);

	&__container {
		@include abstracts.ct_section-container;
		padding-top: var(--spacer__40);
	}

	&__title {
		max-width: 32rem;
		margin-right: auto;

		&-container {
			display: flex;
			align-items: flex-end;

			margin-bottom: var(--spacer__44);
		}
	}

	&__subtitle {
		width: fit-content;

		margin-bottom: var(--spacer__64);
		text-transform: capitalize;
		position: relative;

		&::after {
			content: '';
			position: absolute;
			bottom: -10px;
			left: 0;

			width: 60px;
			height: 4px;

			background-color: var(--color__element-2);
			border-radius: 5px;
		}
	}

	&__most-searched {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		& article {
			width: 14rem;
		}

		& img {
			max-width: 14rem;
			width: 14rem;
			height: 14rem;
			object-fit: cover;

			border-radius: var(--rounder-corners--img);
		}
	}

	&__breed {
		&-image {
			display: inline-block;
			margin-bottom: var(--spacer__16);
		}

		&-name {
			font-family: var(--font__semibold);
		}
	}
}
