@use '../app/abstracts' as *;

.header {
	&__container {
		display: flex;
		align-items: center;

		@include ct_container-size;
		height: 6rem;
	}

	&__link {
		display: flex;

		svg {
			width: 9rem;
			height: auto;
		}
	}
}
