@use '../app/abstracts' as *;

.hero {
	background-image: url(../../assets/images/hero--lg.jpg);
	background-size: cover;
	border-radius: var(--rounded-corners) var(--rounded-corners) 0 0;

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;

		@include ct_padding-section($left-right: true);
		min-height: 33rem;
	}

	&__logo {
		display: flex; // Collapse space at the bottom

		margin-bottom: var(--spacer__16);

		path {
			fill: var(--color__text--alt-1);
		}
	}

	&__text {
		max-width: 23rem;
		color: var(--color__text--alt-1);

		margin-bottom: var(--spacer__48);
	}
}
