@use '../app/abstracts' as *;

.hero {
	background-image: url(../../assets/images/hero--lg.jpg);
	background-size: cover;
	background-position: 90% 50%;
	border-radius: var(--rounded-corners) var(--rounded-corners) 0 0;

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;

		height: 33rem;
		@include ct_padding-section($left-right: true);
	}

	&__logo {
		display: flex; // Collapse space at the bottom

		margin-bottom: var(--spacer__16);

		path {
			fill: var(--color__text--alt-1);
		}
	}

	&__text {
		max-width: 23rem;
		color: var(--color__text--alt-1);

		margin-bottom: var(--spacer__48);
	}
}

@include respond-to('medium--l') {
	.hero {
		&__container {
			height: 26rem;
		}
	}
}

@include respond-to('medium--s') {
	.hero {
		&__container {
			height: 22rem;
		}

		&__text {
			max-width: 18rem;
			margin-bottom: var(--spacer__32);
		}

		&__logo {
			display: none;
		}
	}
}

@include respond-to('medium--xs') {
	.hero {
		&__container {
			height: 18rem;
		}

		&__text {
			max-width: 18rem;
			margin-bottom: var(--spacer__24);
		}

		&__logo {
			display: none;
		}
	}
}

@include respond-to('small--l') {
	.hero {
		&__text {
			max-width: 75%;
			margin: 0 auto var(--spacer__24);
			text-align: center;
		}
	}
}

@include respond-to('small--m') {
	.hero {
		&__text {
			max-width: 90%;
		}
	}
}
