@use '../app/abstracts' as *;

#show-top__wrapper {
	--margin-bottom: var(--spacer__92);
	@include ct_container-size($margin-bottom: var(--margin-bottom));

	@include respond-to('small--l') {
		--margin-bottom: var(--spacer__52);
	}
}

.show-top {
	&__title {
		margin-bottom: var(--spacer__48);
	}
}
